<div class="container">
  <div class="row">
      <h2 class="text-left">Todas las Preguntas</h2>
      <br>
      <% if user_signed_in? %>
        <%= link_to "Add Question", new_question_path, class: " btn btn-success"  %>
      <% else %>
        <p class="text-center alert alert-danger">Debe estar autenticado Crear una pregunta</p>
      <% end %>
      <br>
      <br>
      <% questions.each do |question| %>
        <div class="panel panel-primary">
          <div class="panel-heading"><strong><%= question.title %></strong></div>
          <div class="panel-body">
            <div><span class="label label-primary">Respuestas:  <%= question.answers.count %></span></div>
            <div><span class="label label-primary">Votos: <%= question.votes.count %></span></div>
            <br>
            <%= question.content %>
            <div class="text-right fixed-bottom">
              Fecha Creado: <strong><%= question.created_at %></strong>
              <br>
              Creado Por: <strong><%= question.user.email  %></strong>
              <br>
              <strong><%= link_to "Ver Mas", question_path(question) %></strong>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
