<div class="container">
  <h1><%= @question.title %></h1>
  <br>
  <div class="row">
    <div class="col-sm-1">
      <h4 class="text-center"><a href="/add_vote_question?id=<%= @question.id %>&voteable=question&voteable_id=<%= @question.id %>"><span class="glyphicon glyphicon-menu-up" style="<% if @question.calculate_votes > 0 %>color: green <% end %>"></span></a><br></h4>
      <h4 class="text-center"><%= @question.calculate_votes %></h4>
      <h4 class="text-center"><a href="/remove_vote_question?id=<%= @question.id %>&voteable=question&voteable_id=<%= @question.id %>"><span class="glyphicon glyphicon-menu-down" style="<% if @question.calculate_votes < 0 %>color: red <% end %>"></span></a><br></h4>
    </div>
    <div class="col-sm-11">
      <div class="panel panel-primary" style="margin-top: 25px;">
        <div class="panel-body"><%= @question.content %></div>
      </div>
    </div>
  </div>
  <hr>

  <% if @question.comments.count == 0 %>
    <div class="row">
      <div class="col-sm-5">
          <h2 class="text-center">Sin Comentarios :(</h2>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-sm-4">
          <h2 class="text-center">Comentarios:</h2>
      </div>
    </div>
    <br>
  <% end %>
  <% @question.comments.each do |comment| %>
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        <div class="panel panel-primary" style="margin-top: 25px;">
          <div class="panel-body"><%= comment.title %></div>
        </div>
      </div>
    </div>
  <% end %>
  <br>

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <% if user_signed_in? %>
        <%= form_for [@question, @comment] do |f| %>
          <div class="form-group">
            <%= f.hidden_field 'commentable_id', value: @question.id %>
            <%= f.hidden_field 'commentable', value: 'question' %>
            <%= f.text_area :title, class: "form-control input-lg", placeholder: "Comentar" %><br>
          </div>
          <%= f.submit "Comentar", class: "pull-right btn btn-success" %>
        <% end %>
        <% else %>
          <p class="text-center alert alert-danger">Debe estar autenticado para poder comentar la pregunta</p>
      <% end %>

    </div>
  </div>
  <hr>
  <br>

  <% if @question.answers.count == 0 %>
    <h1>Sin Respuesta(s):(</h1>
  <%else%>
    <h1>Respuesta(s):</h1>
  <%end%>
  <br>
  <% @question.answers.each do |answer| %>

      <div class="row">
        <div class="col-sm-1">
          <h4 class="text-center"><a href="/add_vote_answer?id=<%= @question.id %>&voteable=answer&voteable_id=<%= answer.id %>"><span class="glyphicon glyphicon-menu-up" style="<% if answer.calculate_votes > 0 %>color: green <% end %>"></span></a><br></h4>
          <h4 class="text-center"><%= answer.calculate_votes %></h4>
          <h4 class="text-center"><a href="/remove_vote_answer?id=<%= @question.id %>&voteable=answer&voteable_id=<%= answer.id %>"><span class="glyphicon glyphicon-menu-down" style="<% if answer.calculate_votes < 0 %>color: red <% end %>"></span></a><br></h4>
        </div>
        <div class="col-sm-11">
          <div class="panel panel-primary" style="margin-top: 25px;">
            <div class="panel-body"><%= answer.content %></div>
          </div>
        </div>
      </div>



        <% if answer.comments.count == 0 %>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>Comentario Sin Respuestas :(</h3>
                <br>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>Comentario Respuesta(s)</h3>
            </div>
          </div>
        <% end %>



        <% answer.comments.each do |answer_comment| %>
          <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
              <div class="panel panel-primary" style="margin-top: 25px;">
                <div class="panel-body"><%= answer_comment.title %></div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-sm-11 col-sm-offset-1">
            <% if user_signed_in? %>
              <%= form_for [@question, @comment] do |f| %>
                <div class="form-group">
                  <%= f.hidden_field 'commentable_id', value: answer.id %>
                  <%= f.hidden_field 'commentable', value: 'answer' %>
                  <%= f.text_area :title, class: "form-control input-lg", placeholder: "Comentar Respuesta" %><br>
                </div>
              <%= f.submit "Comentar Respuesta", class: "pull-right btn btn-success" %><br>
              <% end %>
              <% else %>
                <p class="text-center alert alert-danger">Debe estar autenticado para poder comentar la respuesta</p>
            <% end %>
          </div>
        </div>
        <br>
        <hr>
    <% end %>

    <% if user_signed_in? %>
      <%= form_for [@question, @answer] do |f| %>
         <div class="form-group">
           <%= f.text_area :content, class: "form-control input-lg", placeholder: "Responder Pregunta" %><br>
         </div>
         <%= f.submit "Responder", class: "pull-right btn btn-success" %>
         <br>
      <% end %>
    <% else %>
      <p class="text-center alert alert-danger">Debe estar autenticado para poder responder la pregunta</p>
    <% end %>

</div>
